div {
    border-style: groove;
    border-radius: 5px;
    border-color:azure;
    width: 100%;
}
flexbox {
    display: flex;
    flex-direction: row;
}
.header-icon {
    align-items: left;
    height: 90px;
    width: auto;
    margin-left: 30px;
}
.first-page-icon {
    float: middle;
    height: 500px;
    width: auto;
}
#row{
    margin: 0;
}
.person-settings {
    float: right;
    height: 70px;
    width: auto;

}
.add-new-project {
    float: middle;
    height: 20px;
    width: auto;
}
.add-new-sub-project {
    vertical-align: middle;
    height: 15px;
    width: auto;
}
.main-container {
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}